# Ignore virtual environment
venv/

# Ignore python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Mac system files
.DS_Store

# Ignore log files
*.log

# Ignore Streamlit temporary files
.streamlit/
